/* Base styles */
.feedback-section {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .feedback-input,
  .feedback-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .feedback-input::placeholder,
  .feedback-textarea::placeholder {
    color: #ccc;
  }
  
  .feedback-submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .feedback-submit-btn:hover {
    background-color: #0056b3;
  }
  