footer {
  text-align: center;
}

.anchor {
  color: white !important;
  display: block;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

.anchor span:not(.spacer) {
  display: block;
}

.disclaimer {
  color: rgb(145, 145, 145) !important;
  font-size: small;
  text-align: center;
}

.spacer {
  display: none;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}
