<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KSP Community - Cookies Policy">
    <meta name="keywords" content="ksp, ksp2, community">
    <meta name="author" content="g9aerospace & dave9123">
    <meta property="og:title" content="KSP Community - Cookies Policy">
    <meta property="og:description" content="Our cookies policy">
    <meta property="og:image" content="https://i.imgur.com/e4W4ogo.png">
    <meta property="og:url" content="https://kspcommunity.com">
    <meta property="theme-color" content="#2596be">   

    <link rel="stylesheet" href="assets/css/global.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/footer.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap">
    <title>KSP Community - Cookies Policy</title>

    <style>
        body {
        background-image: url('assets/images/background/bg9.svg');
        }
    </style>
</head>
<body>
    
    <!-- Header -->
    <header id="header-container">
    </header>

    <!-- Sidebar Left -->
    <aside id="sidebar-left-container">
    </aside>
    
    <!-- Sidebar Right -->
    <aside id="sidebar-right-container">
    </aside>

    <h1>Cookies Policy</h1>

    <p>This Cookies Policy describes how KSP Community ("we", "us", or "our") uses cookies and similar technologies when you visit our website.</p>

    <h2>Information We Collect</h2>
    <p>We may collect information such as your IP address, browser type, referring/exit pages, and operating system, along with information about how you interact with our website through cookies.</p>

    <h2>How We Use Cookies</h2>
    <p>We use cookies for various purposes, including to provide, improve, and personalize our services. By using our website, you consent to the use of cookies in accordance with this policy.</p>

    <h2>Cookie Preferences</h2>
    <p>You can manage your cookie preferences through your browser settings. Please note that disabling cookies may affect your experience on our website.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about this Cookies Policy, you can contact us at <a href="mailto:info@kspcommunity.com">info@kspcommunity.com</a>.</p>

    <!-- Footer -->
    <footer id="footer-container">
    </footer>
    <script src="assets/js/global.js"></script>
    
</body>
</html>
