.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--sidebar-background-color);
  color: #fff;
  max-width: 16%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1000;
  transition: width 1s ease, background-color 2s ease;
  min-width: 150px;
}

.sidebarOpen {
  width: 250px;
}

.sidebarMinimized {
  width: 30px;
  background-color: var(--sidebar-minimized-background-color);
  min-width: 0px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarMinimized .wrapper,
.sidebarMinimized .socialContainer {
  display: none;
}

.sidebarMinimized .hamburger {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1100;
  transition: background-color 0.3s ease, top 1s ease, left 0s;
  padding: 2px 4px 2px;
  border-radius: 2px;
}

.hamburger:hover {
 background-color: var(--hover-background-color);
}

.hamburger img {
  width: 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 50px;
  position: relative;
  height: 130px;
  transition: border 0.2s ease, transform 0.3s ease;
}

.logo img {
  border: none;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.logo:before {
  content: "";
  display: block;
  padding-top: 100%;
  transition: transform 0.3s ease;
}

.title {
  color: #2a7aff;
  flex: 0.5;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.title a {
  text-decoration: none;
  color: #2a7aff;
}

.title:hover {
  text-decoration: none;
  cursor:default;
}

.separator {
  color: #d6d6d69d;
  width: 100%;
  margin-bottom: 40px;
}

.sections {
  margin-top: 0px;
}

.section {
  margin-bottom: 20px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList li {
  margin-bottom: 10px;
}

.navList li:last-child {
  margin-bottom: 0;
}

.navList li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navList li a:hover {
  color: #2198e7;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  padding: 3px 0px;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: left;
  transition: color 0.3s;
  font-weight: 600;
  color: #fff;
}

.dropbtn:hover {
  background-color: transparent;
}

.dropbtn a {
  color: #fff;
}

.dropbtn a:hover {
  color: #2198e7;
}

.dropdownContent {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  background-color: #2f2f2fe3;
  margin-left: 10px;
}

.dropdownContent a {
  color: #fff;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdownContent a:hover {
  background-color: #555;
}

.dropdown:hover .dropdownContent {
  display: block;
}
