header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(20px);
}

header .logo {
  display: inline-block;
  margin-left: 30px;
}

header h1 {
  font-size: 32px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto auto auto 20px;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: auto 0 auto auto;
}

header ul li {
  padding: 12px 9px;
  color: rgb(255, 255, 255);
  border-radius: 2px;
}

header ul li:hover {
  background-color: rgba(193, 193, 193, 0.096);
}