/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}

footer {
    background-color: rgba(0, 0, 0, 0.61);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: var(--border-medium-radius);
}

/* Footer Styles */
.footer {
    padding: 30px 0;
}

.footer-container {
    margin-bottom: 20px;
    text-align: center;
    border-radius: var(--border-medium-radius);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.footer-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
    height: auto;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav a {
    display: block; /* Change display to block */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Add ellipsis if content overflows */
    max-width: 100%; /* Limit the width of each link */
    text-decoration: none;
    color: #ffffff; /* White text color */
    margin: 10px 0; /* Add margin to create space between links */
}

.footer-nav a:hover {
    color: #cccccc; /* Light gray hover color */
}

.footer-social-container {
    text-align: center; /* Centering the social media icons horizontally */
    margin-top: 20px;
}

.footer-social-container a {
    display: inline-block;
    margin-right: 15px;
}

.footer-social-container img {
    width: 30px; /* Adjust width of the social media icons */
    height: 30px; /* Adjust height of the social media icons */
}


.footer-sponsor {
    border: none; /* Remove border */
}

.footer-disclaimer,
.footer-copyright {
    color: #cccccc; /* Light gray text color */
    font-size: 14px;
    margin-top: 10px;
    text-align: center; /* Centering the disclaimer and copyright text */
    display: block; /* Ensure each paragraph appears on a separate line */
}

/* Responsive Layout */
@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .footer-subcontainer {
        width: 48%;
    }

    .footer-social-container {
        margin-top: 0;
    }
}
