/* Reset some default styles for the footer */
footer {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    border-radius: var(--section-border-radius);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex; /* Add flex display */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Vertically center items */
}

/* Style navigation links in the footer */
.footer-nav {
    margin-bottom: 10px;
}

.footer-nav a {
    color: var(--link-text-color);
    text-decoration: none;
    margin: 0 10px;
}

.footer-nav a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Style the GitHub sponsor button */
.footer-sponsor {
    margin: 0 10px; /* Add margin to the Sponsor button */
    border: none;
}

/* Style the fan-made website disclaimer */
.footer-disclaimer {
    margin-bottom: 10px; /* corrected the class name */
}

/* Style the copyright information */
.footer-copyright {
    font-size: 14px;
    opacity: 0.8;
}

/* Style the layout of navigation links */
.footer-nav a {
    display: inline-block;
}

/* Center all text content within the footer */
.footer-nav,
.footer p,
.footer-copyright {
    text-align: center;
}

/* Set max size for social media icons and logo */
.footer-social img,
.footer-logo {
    max-width: 40px; /* Adjust the value as needed */
    max-height: 40px; /* Adjust the value as needed */
    border: none;
}

/* Container for social media icons and sponsor button */
.footer-social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Add margin-top to create space between navigation links and social icons */
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    footer {
        padding: 10px;
    }
    
    .footer-social img,
    .footer-logo {
        max-width: 30px;
        max-height: 30px;
    }
}
