:root {
    --primary-bg-color: #000000;
    --header-bg-color: #3031323c;
    --sidebar-bg-color: #3031323c;
    --footer-bg-color: #3031323c;

    --primary-text-color: #b8b8b8;
    --header-text-color: #adadad;
    --footer-text-color: #444444;
    --link-text-color: #0099ff;
    --link-hover-color: #00ccff;
    --email-color: #00ff66;

    --padding-large-width: 20px;
    --padding-medium-width: 15px;
    --padding-small-width: 10px;

    --margin-large-width: 20px;
    --margin-medium-width: 15px;
    --margin-small-width: 10px;

    --section-border-width: 1px;
    --section-border-color: #666666;
    --section-border-radius: 6px;

    --font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    margin-left: 250px;
    margin-right: 250px;
    padding: var(--padding-large-width);
    font-family: var(--font-family);
}

/* Apply the Red Hat font to specific elements as needed */
h1, h2, h3, p, a {
    font-family: var(--font-family);
}

/* Apply link colors and email color to body text */
body a {
    color: var(--link-text-color);
}

body a:hover {
    color: var(--link-hover-color);
}

/* Apply email color to specific elements if needed */
body .email {
    color: var(--email-color);
}