/* Root Variables */
:root {
    --primary-bg-color: #000000;
    --header-bg-color: transparent;
    --sidebar-bg-color: #0000008f;
    --sidebar-small-device-bg-color: #000000c5;
    --footer-bg-color: #00000061;

    --primary-text-color: #b8b8b8;
    --header-text-color: #adadad;
    --sidebar-link-color: #0067eed6;
    --sidebar-hover-color: #1c82fe;
    --footer-text-color: #444444;
    --link-text-color: #0099ff;
    --link-hover-color: #00ccff;
    --email-color: #00ff66;

    --padding-large-width: 20px;
    --padding-medium-width: 15px;
    --padding-small-width: 10px;

    --margin-large-width: 20px;
    --margin-medium-width: 15px;
    --margin-small-width: 10px;

    --section-border-width: 1px;
    --section-border-color: #666666;
    --section-border-radius: 6px;
    --section-bg-color: #20212292;

    --sidebar-pc-width: 200px;
    --sidebar-tab-width: 200px;
    --sidebar-mobile-width: 200px;

    --font-family: 'Red Hat Display', sans-serif;
}

/* Body Styles */
body {
    background-color: var(--primary-bg-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--primary-text-color);
    padding: var(--padding-medium-width);
    font-family: var(--font-family);
    margin-left: calc(var(--sidebar-pc-width) + 2*var(--margin-large-width));
    margin-right: calc(var(--sidebar-pc-width) + 2*var(--margin-large-width));
}

/* Fixed Background */
.fixed-background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Font Usage */
h1, h2, h3, p, a {
    font-family: var(--font-family);
}

/* Link Styles */
body a {
    color: var(--link-text-color);
}

body a:hover {
    color: var(--link-hover-color);
}

body .email {
    color: var(--email-color);
}

/* Hamburger Icon */
.hamburger-icon {
    z-index: 10010;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #202020d6;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #393939d6; 
}

::-webkit-scrollbar-thumb:active {
    background-color: #595959d6;
}

@keyframes scrollAnimation {
    0% { background-color: #0067eed6; }
    50% { background-color: #1c82fe; }
    100% { background-color: #0067eed6; }
}

::-webkit-scrollbar-thumb {
    animation: scrollAnimation 2s infinite;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    body {
        padding: var(--padding-small-width);
        margin-left: 8px;
        margin-right: 8px;
    }
}
