:root {
    --primary-bg-color: #000000;
    --header-bg-color: #232323;
    --footer-bg-color: #23223232;

    --primary-text-color: #ffffff;
    --header-text-color: #030b65;
    --footer-text-color: #ffffff;
    --link-text-color: #007bfe;
    --link-hover-color: #00bfff;
    --link-visited-color: #9300ee;
    --link-visited-hover-color: #aa01c8;
    --email-color: #30b408;

    --padding-large-width: 30px;
    --padding-medium-width: 20px;
    --padding-small-width: 10px;

    --margin-large-width: 30px;
    --margin-medium-width: 20px;
    --margin-small-width: 10px;

    --section-border-width: 2px;
    --section-border-color: #ffffff;
    --section-border-radius: 4px;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: var(--padding-medium-width);
    margin: 0;
}

/* Additional styling for main content goes here */
