/* General styles for the header */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: var(--padding-small-width);
    position: relative;
    width:auto;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}