/* Apply styles to the header */
header {
    background-color: var(--header-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: var(--border-medium-radius);
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Style the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ccc;
}

/* Style the user menu */
.user-menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.user-menu h2 {
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
}

/* Style the user icon */
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Responsive layout */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .nav-links {
        display: none;
    }

    .user-menu {
        position: static;
        margin-left: auto;
    }
}
