/* General styles for the header */
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: var(--padding-small-width);
    position: relative;
    width:auto;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

/* Navigation menu styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav li {
    position: relative;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    padding: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    white-space: nowrap;
    max-height: 20px;
    overflow: hidden;
    display: block;
}

/* Dropdown styles */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--header-bg-color);
    border: 1px solid var(--nav-text-color);
    padding: 10px;
    border-radius: 5px; 
}

nav li:hover > ul {
    display: block;
    animation: fadeInDown 0.3s ease;
}

/* Keyframes for fadeInDown animation */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
        gap: 10px; /* Adjust the gap for better spacing */
    }

    nav a {
        padding: 12px; /* Adjust padding for better touch interaction */
        max-height: none; /* Reset max height for smaller screens */
    }
}
