header {
    background-color: var(--header-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: var(--border-medium-radius);
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Style the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(241, 241, 241, 0.022);
    border-radius: var(--border-medium-radius);
}

.navbar-container {
    padding-top: 5px;
    width: 100%;

}

/* Style the title */
.title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0;
    flex: 1;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ccc;
}

/* Style the user menu */
.user-menu {
    display: flex;
    align-items: justify;
    margin-left: 20px;

}

.user-menu h2 {
    margin-left: 10px;
    font-size: 18px;
    color: #f4ff81;
    margin-right: 20px;
}

/* Style the user icon */
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #ccc;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px 0;
    }

    .nav-links {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-links:first-child {
        flex-direction: row;
    }

    .nav-links:last-child {
        flex-direction: column;
        align-items: center;
    }

    .user-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .user-info {
        display: flex;
        flex-direction: row;
    }

    .user-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .username {
        font-size: 18px;
        color: #f4ff81;
        margin: 0;
    }

    .nav-links li {
        margin: 5px;
    }

    .title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
}
