#sidebar-left {
    background-color: var(--sidebar-bg-color);
    color: #fff;
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    max-width: var(--sidebar-pc-width);
    height: 93.5%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
    margin-top: var(--margin-medium-width);
    margin-bottom: var(--margin-medium-width);
    border-radius: var(--section-border-radius);
    transition: width 0.3s ease; 
}

#sidebar-left .hamburger-icon-L {
    display: block;
}

#sidebar-left.hidden .hamburger-icon-L i {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}


#sidebar-left.hidden {
    width: 20px;
}

#sidebar-left.hidden nav ul {
    display: none;
}

#sidebar-left h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#sidebar-left ul {
    list-style: none;
    padding: 0;
}

#sidebar-left li {
    margin-bottom: 12px;
}

#sidebar-left a {
    text-decoration: none;
    color: var(--sidebar-link-color);
    font-weight: bold;
    transition: color 0.2s ease;
    display: block;
}

#sidebar-left a:hover {
    color: var(--sidebar-hover-color);
}

/* New styles for dropdown */
#sidebar-left ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--sidebar-bg-color);
    border-radius: var(--section-border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#sidebar-left li:hover > ul {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
    #sidebar-left {
        width: 90px;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.734);
    }

    #sidebar-left.hidden {
        height: 21px;
        width: 15px;
    }
    
}