#sidebar-right {
    background-color: var(--sidebar-bg-color);
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    width: 100%; 
    max-width: 200px;
    height: 93.5%;
    position: fixed;
    right: 0; 
    top: 0;
    overflow-y: auto;
    z-index: 1000;
    margin-top: var(--margin-medium-width);
    margin-bottom: var(--margin-medium-width);
    border-radius: var(--section-border-radius);
    transition: width 0.3s ease; 
}

#sidebar-right .hamburger-icon-R {
    display: block;
}

#sidebar-right.hidden {
    width: 20px;
}

#sidebar-right.hidden nav {
    display: none; /* Added to hide everything in the nav */
}

#sidebar-right h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

#sidebar-right ul {
    list-style: none;
    padding: 0;
}

#sidebar-right li {
    margin-bottom: 8px;
}

#sidebar-right a {
    text-decoration: none;
    color: var(--sidebar-link-color);
    font-weight: bold;
    transition: color 0.2s ease;
}

#sidebar-right a:hover {
    color: var(--sidebar-hover-color);
}

/* New styles for dropdown */
#sidebar-right ul ul {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: var(--sidebar-bg-color);
    border-radius: var(--section-border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#sidebar-right li:hover > ul {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

@media only screen and (min-width: 600px) {
    #sidebar-right {
        width: 200px;
    }
}
