.footer {
  background-color: var(--footer-background-color);
  color: var(--text-color-tertiary);
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.column h2 {
  margin-bottom: 10px;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 5px;
}

.column ul li a {
  color: var(--text-color-secondary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.column ul li a:hover {
  color: var(--text-color-secondary-hover);
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials a {
  margin-right: 10px;
}

.socials a img {
  width: 30px;
  transition: transform 0.2s ease;
}

.socials a img:hover {
  transform: scale(1.1);
}

.footnote {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .column {
    padding: 10px 0;
  }
}
